body {
  margin: 0;
  font-family: 'sans-serif';
  padding: 4px;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  ;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #f5f5f57e;
}

body {
  text-align: justify;
  background: linear-gradient(to right, #b91c5d, #2459bb);
  /* Gradiente do vermelho para o laranja */
}

h1 {
  text-align: center;
}

form {
  font-size: small;
  text-align: justify;
}

#menu {
  position: sticky;
  top: 0px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #cac2cc75;
  padding: 3px;
  border-radius: 14px;
}

#menu h1 {
  font-size: 25px;
  color: #000000;
  margin: 10px;
}

.spaco-content {
  width: 90%;
  background-color: #cac2cc50;
  margin: 2rem 0;
  border-radius: 14px;
}

.spaco-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.espaco {
  margin-left: 30px;
  /* Espaço à esquerda */
  margin-right: 30px;
  /* Espaço à direita */
  font-size: 25px;
}